.footer {
  &__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__nav {
    margin-right: auto;

    @include tablet {
      align-self: center;
      margin: 0;
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 30px;
    }

    &-list {
      @include mobile {
        flex-direction: column;
      }
    }

    &-link {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 144%;
      color: var(--light-content);

      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__text {
    align-self: flex-end;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: var(--light-content);
    transition: color .2s;

    @include tablet {
      align-self: center;
    }

    @include mobile {
      font-size: 16px;
    }

    & span {
      background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.not-active {
  display: none;
}
