.burger {
  @include burger;

  display: none;
  margin-right: auto;
  color: var(--light-content);
  transition: color .2s ease-in-out;

  @include small-tablet {
    display: block;
  }

  @include mobile {
    order: 1;
    margin-bottom: 20px;
  }

  &.focus-visible {
    outline: none;
    color: var(--dark-content);
  }

  @include hover {
    color: var(--dark-content);
  }

  &--active {
    position: relative;
    z-index: 2;
  }
}

