.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 26px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__link {
    font-family: "OpenSans";
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--light-content);
    transition: color .2s ease-in-out;

    @include mobile {
      font-size: 16px;
    }

    &.focus-visible {
      outline: none;
      color: var(--dark-content);
    }

    @include hover {
      color: var(--dark-content);
    }
  }

  &.menu--active {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-mode);
    opacity: .9;
    z-index: 2;
    transform: translateX(0);

    & .nav__list {
      flex-direction: column;
      align-items: start;
      padding-top: 100px;
      padding-left: calc(var(--container-offset) / 2);

      @include mobile {
        padding-top: 80px;
        padding-left: calc(var(--container-offset) / 4);
      }
    }

    & .nav__item {
      margin: 0;
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 20px;
      }
    }
  }
}
