.projects {
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 30px;

    @include mobile {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__info {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 81%;
    text-align: center;
    color: var(--light-content);
    transition: color .2s;

    @include small-tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
  }

  &__item {
    grid-column: 2 span;
  }
}
