.title {
  margin: 0;
  font-weight: 700;
  font-size: 58px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: var(--solid-heading-dark-mode);
  transition: color .2s;

  @include small-tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 38px;
  }

  &-section {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 54%;
    text-align: center;
    color: var(--solid-heading-dark-mode);
    transition: color .2s;

    @include small-tablet {
      font-size: 38px;
    }

    @include mobile {
      font-size: 30px;
    }
  }
}
