<section class="about">
  <div class="container about__container" id="about">
    <h3 class="title-section about__title" data-lang>About Me</h3>
    <h3 class="title-section about__title not-active" data-lang>Обо мне</h3>
    <p class="about__descr" data-lang>
      I started to become interested in web development relatively recently. Accidentally watching a video on YouTube with a review of someone’s layout became a discovery for me and shocked me in a good way at that time.
      I began to study this direction more deeply and it turned out that it was not just interesting to me, but so exciting that even sleepless nights were a joy!
      Then I completed courses from SkillBox on Layout and Java Script, while simultaneously getting practice in implementing various layouts. Now I try to improve my skills every day and hope that Frontend development will become my main activity.
    </p>
    <p class="about__descr not-active" data-lang>
      Я начал интересоваться веб-разработкой сравнительно недавно. Случайный просмотр видео на YouTube с обзором чьего-то макета стал для меня открытием и в хорошем смысле шокировал меня на тот момент.
      Я стал глубже изучать это направление и оказалось, что оно мне не просто интересно, а настолько увлекательно, что даже бессонные ночи были в радость!
      Затем я прошел курсы от SkillBox по верстке и Java Script, параллельно получая практику на реализации различных макетов. Теперь я стараюсь совершенствовать свои навыки каждый день и надеюсь, что Frontend разработка станет моей основной деятельностью.
    </p>
  </div>
</section>
