<section class="contacts">
  <div class="container contacts__container" id="contacts">
    <div class="contacts__lists">
      <ul class="list-reset contacts__list">
        <li class="contacts__item">
          <a href="tel:+79663262747" class="contacts__link">+79663262747</a>
        </li>
        <li class="contacts__item">
          <a href="mailto:potapov_andrey22@mail.ru" class="contacts__link">potapov_andrey22@mail.ru</a>
        </li>
      </ul>
      <ul class="list-reset social contacts__social" title="Социальные сети">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--gh" aria-label="Моя страница на Гитхабе">
            <svg class="social__icon social__icon-color">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--tg" aria-label="Моя ссылка на Телеграмм">
            <svg class="social__icon social__icon-color">
              <use xlink:href="img/sprite.svg#telegramm"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Моя страница в Вконтакте">
            <svg class="social__icon social__icon-color">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <span class="contacts__border"></span>
  </div>
</section>
