<footer class="footer">
  <div class="container footer__container">
    <nav class="nav footer__nav" title="Главное меню">
      <ul class="list-reset nav__list footer__nav-list">
        <li class="nav__item footer__nav-item"><a href="#header" class="nav__link footer__nav-link">Home</a></li>
        <li class="nav__item footer__nav-item"><a href="#about" class="nav__link footer__nav-link">About</a></li>
        <li class="nav__item footer__nav-item"><a href="#tech-stack" class="nav__link footer__nav-link">Tech Stack</a></li>
        <li class="nav__item footer__nav-item"><a href="#projects" class="nav__link footer__nav-link">Projects</a></li>
        <li class="nav__item footer__nav-item"><a href="#contacts" class="nav__link footer__nav-link">Contacts</a></li>
      </ul>
    </nav>
    <div class="footer__text">Designed and built by <span>Andrey P.</span> with <span>Dream</span> & <span>Coffee</span></div>
  </div>
</footer>
