<section class="hero">
  <h1 class="visually-hidden">Сайт-портфолио Андрей Потапов frontend developer</h1>
  <div class="container hero__container">
    <div class="hero__info" data-lang>
      <h2 class="title hero__title">
        Hi <span class="hero__title-icon"></span>
      </h2>
      <span class="hero__title-span">My name is</span>
      <span class="hero__title-name">Andrey Potapov</span>
      <span class="hero__title-span">I am Frontend Developer</span>
    </div>
    <div class="hero__info not-active" data-lang>
      <h2 class="title hero__title">
        Привет <span class="hero__title-icon"></span>
      </h2>
      <span class="hero__title-span">Меня зовут</span>
      <span class="hero__title-name">Андрей Потапов</span>
      <span class="hero__title-span">Я Frontend разработчик</span>
    </div>
    <div class="hero__foto">
    </div>
  </div>
</section>
