<section class="projects">
  <div class="container projects__container" id="projects">
    <h3 class="title-section projects__title">Projects</h3>
    <p class="projects__info">
      Things I’ve built so far
    </p>
    <div class="projects__slider">
      <div class="swiper projects__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="card projects__card">
              <div class="card__picture">
                <picture>
                  <source srcset="../img/createx.webp" type="image/webp">
                  <img loading="lazy" src="../img/createx.png" class="card__image" height="260" alt="Макет сайта Createx">
                </picture>
              </div>
              <div class="card__info">
                <h4 class="card__title">
                  Createx
                </h4>
                <p class="card__descr">
                  Practical project. Online store selling men's, women's and children's clothing and accessories.
                </p>
                <p class="card__stack">
                  Tech stack: <span>HTML, CSS, Sass, JS</span>
                </p>
                <ul class="list-reset card__list">
                  <li class="card__item">
                    <a href="http://createx.cs21751.tw1.ru/" class="card__link">
                      <svg class="card__icon card__icon-notfill">
                        <use xlink:href="img/sprite.svg#preview"></use>
                      </svg>
                      Live Preview
                    </a>
                  </li>
                  <li class="card__item">
                    <a href="https://github.com/andreypo22/Createx" class="card__link">
                      <svg class="card__icon">
                        <use xlink:href="img/sprite.svg#github"></use>
                      </svg>
                      View Code
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card projects__card">
              <div class="card__picture card__picture-wave">
                <picture>
                  <source srcset="../img/w-wave.webp" type="image/webp">
                  <img loading="lazy" src="../img/w-wave.png" class="card__image" height="260" alt="Макет сайта W-wave">
                </picture>
              </div>
              <div class="card__info">
                <h4 class="card__title">
                  W-Wave radio
                </h4>
                <p class="card__descr">
                  Educational project. We talk about music, politics, history, science and culture. Here, in addition to the live broadcast, there is an archive of programs and much more.
                </p>
                <p class="card__stack">
                  Tech stack: <span>HTML, CSS, Sass, JS</span>
                </p>
                <ul class="list-reset card__list">
                  <li class="card__item">
                    <a href="https://w-wave-radio.cs21751.tw1.ru/"  target="_blank" class="card__link">
                      <svg class="card__icon card__icon-notfill">
                        <use xlink:href="img/sprite.svg#preview"></use>
                      </svg>
                      Live Preview
                    </a>
                  </li>
                  <li class="card__item">
                    <a href="https://github.com/andreypo22/W-Wave_radio" target="_blank" class="card__link">
                      <svg class="card__icon">
                        <use xlink:href="img/sprite.svg#github"></use>
                      </svg>
                      View Code
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card projects__card">
              <div class="card__picture">
                <picture>
                  <source srcset="../img/blanchard.webp" type="image/webp">
                  <img loading="lazy" src="../img/blanchard.jpg" class="card__image" height="260" alt="Макет сайта Blanchard">
                </picture>
              </div>
              <div class="card__info">
                <h4 class="card__title">
                  Blanchard gallery
                </h4>
                <p class="card__descr">
                  Educational project. The Blanchard Art Gallery is a huge archive of works by great artists and sculptors. You will plunge into the world of art from the 15th century to the present.
                   Touch the beauty!
                </p>
                <p class="card__stack">
                  Tech stack: <span>HTML, CSS, JS</span>
                </p>
                <ul class="list-reset card__list">
                  <li class="card__item">
                    <a href="http://blanchard.cs21751.tw1.ru/" class="card__link">
                      <svg class="card__icon card__icon-notfill">
                        <use xlink:href="img/sprite.svg#preview"></use>
                      </svg>
                      Live Preview
                    </a>
                  </li>
                  <li class="card__item">
                    <a href="https://github.com/andreypo22/Blanchard-gallery" class="card__link">
                      <svg class="card__icon">
                        <use xlink:href="img/sprite.svg#github"></use>
                      </svg>
                      View Code
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card projects__card">
              <div class="card__picture">
                <picture>
                  <source srcset="../img/sitDown-shop.webp" type="image/webp">
                  <img loading="lazy" src="../img/sitDown-shop.png" class="card__image" height="260" alt="Макет сайта SitDown-shop">
                </picture>
              </div>
              <div class="card__info">
                <h4 class="card__title">
                  SitDown shop
                </h4>
                <p class="card__descr">
                  Educational project. Online store selling furniture and various interior items.
                </p>
                <p class="card__stack">
                  Tech stack: <span>HTML, CSS, Sass, JS</span>
                </p>
                <ul class="list-reset card__list">
                  <li class="card__item">
                    <a href="http://sitdownpls.cs21751.tw1.ru/" class="card__link">
                      <svg class="card__icon card__icon-notfill">
                        <use xlink:href="img/sprite.svg#preview"></use>
                      </svg>
                      Live Preview
                    </a>
                  </li>
                  <li class="card__item">
                    <a href="https://github.com/andreypo22/SitDownPls" class="card__link">
                      <svg class="card__icon">
                        <use xlink:href="img/sprite.svg#github"></use>
                      </svg>
                      View Code
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card projects__card">
              <div class="card__picture">
                <picture>
                  <source srcset="../img/nft.webp" type="image/webp">
                  <img loading="lazy" src="../img/nft.png" class="card__image" height="260" alt="Макет сайта nft">
                </picture>
              </div>
              <div class="card__info">
                <h4 class="card__title">
                  NFT
                </h4>
                <p class="card__descr">
                  Practical project. A site that allows you to plunge into the world of NFTs. Here you can create or purchase NFT tokens, and also meet the best designers in the field.
                </p>
                <p class="card__stack">
                  Tech stack: <span>HTML, CSS, Sass, JS</span>
                </p>
                <ul class="list-reset card__list">
                  <li class="card__item">
                    <a href="http://nft.cs21751.tw1.ru/" class="card__link">
                      <svg class="card__icon card__icon-notfill">
                        <use xlink:href="img/sprite.svg#preview"></use>
                      </svg>
                      Live Preview
                    </a>
                  </li>
                  <li class="card__item">
                    <a href="https://github.com/andreypo22/NFT" class="card__link">
                      <svg class="card__icon">
                        <use xlink:href="img/sprite.svg#github"></use>
                      </svg>
                      View Code
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card projects__card">
              <div class="card__picture">
                <picture>
                  <source srcset="../img/creative-agansy.webp" type="image/webp">
                  <img loading="lazy" src="../img/creative-agansy.png" class="card__image" height="260" alt="Макет сайта creative agansy studio">
                </picture>
              </div>
              <div class="card__info">
                <h4 class="card__title">
                  Creative Agansy
                </h4>
                <p class="card__descr">
                  Practical project. Design and WEB development studio. Main areas UI/UX design, WEB development, marketing, SEO optimization
                </p>
                <p class="card__stack">
                  Tech stack: <span>HTML, CSS, Sass, JS</span>
                </p>
                <ul class="list-reset card__list">
                  <li class="card__item">
                    <a href="http://creative-agansy-studio.cs21751.tw1.ru/" class="card__link">
                      <svg class="card__icon card__icon-notfill">
                        <use xlink:href="img/sprite.svg#preview"></use>
                      </svg>
                      Live Preview
                    </a>
                  </li>
                  <li class="card__item">
                    <a href="https://github.com/andreypo22/Creative_agansy_studio" class="card__link">
                      <svg class="card__icon">
                        <use xlink:href="img/sprite.svg#github"></use>
                      </svg>
                      View Code
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
