<section class="tech-stack">
  <div class="container tech-stack__container" id="tech-stack">
    <h3 class="title-section tech-stack__title" data-lang>
      My Tech Stack
    </h3>
    <p class="tech-stack__info" data-lang>
      Technologies I’ve been working with recently
    </p>
    <h3 class="title-section tech-stack__title not-active" data-lang>
      Мой Tech Stack
    </h3>
    <p class="tech-stack__info not-active" data-lang>
      Технологии, с которыми я работал в последнее время
    </p>
    <ul class="list-reset tech-stack__list">
      <li class="tech-stack__item tech-stack__item-html">
      </li>
      <li class="tech-stack__item tech-stack__item-css">
      </li>
      <li class="tech-stack__item tech-stack__item-js">
      </li>
      <li class="tech-stack__item tech-stack__item-bootstrap">
      </li>
      <li class="tech-stack__item tech-stack__item-sass">
      </li>
      <li class="tech-stack__item tech-stack__item-git">
      </li>
      <li class="tech-stack__item tech-stack__item-vscode">
      </li>
      <li class="tech-stack__item tech-stack__item-github">
      </li>
    </ul>
  </div>
</section>
